<h5>Hello, {{ user.fullName }}</h5>
<span>Welcome to Quick Language Practice! Follow to the <a href="{{ link }}" target="_blank">link</a> in order to confirm your account!</span>
<br/>
<span>Have a nice practice!</span>
